@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --dark-blue-3: #00265c;
  --dark-blue-2: #00397e;
  --dark-blue-1: #004caf;
  --blue-3: #005bda;
  --blue-2: #0066ff;
  --blue-1: #3787ff;
  --light-blue-3: #75a8ff;
  --light-blue-2: #c2d8ff;
  --light-blue-1: #e5f0ff;
  --white: #f7faff;
}
