@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: solid 1px red;
} */
@layer base {
  :root {
    --background: 214.62 100% 94.9%;
    --foreground: 216, 100%, 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 216, 100%, 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 216, 100%, 50%;
    --ring: 222.2 84% 4.9%;

    --sidebar: 216.9, 100%, 97.5%;
    --sidebar-foreground: 216, 100%, 3.9%;
    --radius: 0.5rem;

    --dark-blue-3: hsl(215.2, 100%, 18%);
    --dark-blue-2: #00397e;
    --dark-blue-1: #004caf;
    --blue-3: hsl(215, 100%, 42.7%);
    --blue-2: hsl(216, 100%, 50%);
    --blue-1: #3787ff;
    --light-blue-3: hsl(217.8, 100%, 72.9%);
    --light-blue-2: hsl(218.4, 100%, 88%) --light-blue-1:
      hsl(214.62, 100%, 94.9%);
    --white: hsl(216.9, 100%, 97.5%);
    --grey: #d3d3d3;
    --dark-grey: #818181;
  }

  .dark {
    --background: 216, 100%, 3.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --sidebar: 216, 100%, 8%;
    --sidebar-foreground: 216.9, 100%, 97.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.VIcharacter {
  border: none;
  font-size: 1.5rem;
  border-radius: 8px;

  /* light theme */
  color: var(--dark-blue-3);
  background-color: #f6f5fa;
  box-shadow: 0 2px 0 var(--blue-1);
}

.VIcontainer {
  max-width: 80vw;
}

.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}
